<%include includes/header.html%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Daftar kelas XI ( "11" )
      <small>Control panel</small>
    </h1>
    <ul>
      <li><a href="/ak11">AKUNTANSI</li>
      <li><a href="/ap11">ADMINISTRASI PERKANTORAN</li>
      <li><a href="/mp11">MANAJEMEN</li>
      <li><a href="/pb11">PERBANKAN</li>
      <li><a href="/tkj11">TEKNIK KOMPUTER dan JARINGAN</li>
      <li><a href="/upw11">USAHA PERJALANAN WISATA</li>
    </ul>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home </a></li>
      <li class="/daftar-siswa">Daftar siswa</li>
      <li class="/absensi-siswa">Absensi siswa</li>
      <li class="/input-siswa">Input-siswa</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%include includes/footer.html%>
